body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

label {
    color: #333;
    font-size: 20px;
}

input {
    font-size: 18px;
    padding: 6px 10px;
    margin-bottom: 12px;
}

button {
    font-size: 16px;
    padding: 10px 12px;
    margin-bottom: 12px;
}

#display {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.book-item {
    background-color: #00ffc3;
    padding: 10px 16px;
    max-width: 33%; 
    margin-bottom: 12px;
}

.remove {
    font-size: 12px;
    background-color: #ccc;
    padding: 3px 5px;
    margin-left: 12px;
}