body {
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: "Roboto Slab", serif;
    text-align: center;
}

form {
    background: #fffcad;
    padding: 20px 15px;  
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.form-field {
    display: inline-block;
    margin-right: 50px;

}

.form-field label {
    color: #333;
    font-size: 16px;
}

.form-field input[type=text],
.form-field input[type=number]{
    display: block;
    font-size: 18px;
    padding: 6px 10px;
}

.form-field input[type=text] {
    width: 100%;
}

.form-field-pages{
    width: 10%;
}

.form-field-pages input {
    width: 100%;
}

button {
    font-size: 16px;
    padding: 12px 15px;
    background: #ff7723;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#newbook-btn-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px; 
}

.add-btn-container {
    display: inline-block;
}

.add-btn-container button {
    background: #ccc;
    color: #333;
    margin-top: 25px;
}

#display {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.book-item {
    display: inline-block;
    border: 1px solid #00ffc3;
    padding: 15px;
    max-width: 33%; 
    margin: 12px;
    text-align: center;
}

.remove {
    display: block;
    font-size: 12px;
    background-color: #ccc;
    padding: 3px 5px;
    margin: 0 auto 0 0;
}

.readLine {
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;

}